body {
  background-image: url("../img/IMG_5918.jpg");
}
.box1 {
  width: 50%;
  border: solid black;
  border-width: 1px;
  background-color: orange;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5%;
}

img {
  width: 38em;
  /* float: inherit; */
}
.app-container {
  min-height: 100vh;
  display: flex;
}
